.circle {
  fill: transparent;
  stroke-width: 13px;
  stroke: $content-color;
}

.circle-above {
  stroke-width: 20px;
  stroke: url('#my-cool-gradient');
  stroke-dasharray: 421;
  stroke-dashoffset: 421;
  animation: fill 100s linear infinite;
  animation-play-state: paused;
}