.maincontent__mountains-bg{
   background: url(../images/content/mountain__bg.png) center center no-repeat/cover;
   clip-path: polygon(0% 0%, 0% 94%, 50% 100%, 100% 94%, 100% 0%);
   min-height:150vh;
}