.main-menu--header{
    width:53%;
    font-size:16px;
}

.main-menu__list{
    display: flex;
    justify-content: space-between;

}

.main-menu__link{
    text-decoration:none;
    transition: .4s;
        &:hover{
            color:$hover-color;
        }
}