.socials{
    display:flex;
    
}

.socials__item{
    margin-right: 40px;
        
        &:last-child{
            margin-right: 0;
        }
}


.socials__icon{
    width: 31px;
    height: 25px;
    fill: $text-color;
    transition:.4s;
        &:hover{
            fill:$hover-color;
        }
}