footer.footer
    .container.footer__container
        .footer__year © 2019
        .footer__basic
            h3.footer__name Kozhanova Iryna
            .footer__description Web developer's personal website
        .footer__content
            include main-menu
            +main-menu('footer')
            .footer__wrap
                .footer__block 
                    p.footer__text.text This website was made by me during my studies at the Loftshool.
                    .footer__socials
                        include socials
                        +socials('footer')
                .footer__block 
                    p.footer__blockquote-text.text Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live.
                    cite.footer__author Martin Golding
                    
                 
               
