section.welcoming-section.fullscreen-section  
    .container
        include header
        .welcoming-section__title
            h3.welcoming-section__title-description Web developer's personal website
            h1.welcoming-section__title-name Kozhanova Iryna
        a(href='#').welcoming-section__scroll Scroll
            +icon('scroll', 'welcoming-section__scroll-icon' ) 
        